@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@300;400;600;700&display=swap');

/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    font-family: "Smooch Sans", sans-serif;
}

body {
    background-color: #fff;
    font-size: 1.4rem;
    text-align: center;
}

/*GENERAL PARA TODAS LAS PAGINAS*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: rgba(236, 208, 171, 0.3);
    position: sticky;
    top: 0;
    background-image: url(../img/ush-web6.webp);
    background-position: bottom;
    height: 15vh;
    opacity: 95%;
}

.header img {
    height: 120px;
}



.header a {
    color: white !important;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;

}

.menu a {
    text-decoration: none;
    color: #000;
    font-size: 1.4rem;
}

/* TITULOS*/
h1 {
    color: rgb(229, 124, 11);

}

h2 {
    margin-top: 10px;
}

p {
    color: rgb(206, 74, 74);
    font-size: 1.5rem
}


/* FOOTER  */
.footer {
    background-color: rgba(236, 208, 171, 0.3);
    padding: 40px;
    margin-top: 60px;
}

.footer img {
    height: 50px;
    margin-bottom: 15px;
}

.footer a {
    text-decoration: none;
    color: black;
}

/*LOGO WHATSAPP FIJO*/

.wsp img {
    width: 105px;
    height: 45px;
    bottom: 20px;
    right: 20px;

}

.wsp {

    position: fixed;
    bottom: 20px;
    right: 20px;
}

/*TERMINA GENERAL PARA TODAS LAS PAGINAS*/


/*INDEX*/
/* SECTION RAZONES */
.paseos {
    padding: 60px 20px 30px;
}

.razones-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px;
}

.card-paseos,
.card-guias,
.card-grupos {
    border: 2px solid rgb(255, 149, 0);
    padding: 20px;
}

.razones-cards img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}

/*SECTION TEMPORADAS */
.section-temporadas {
    padding: 60px 40px;
}

.div-temporadas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 40px;
    border: #000;
}

.temporada-verano img,
.temporada-invierno img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    margin-bottom: 15px;
}

/* SECTION PAQUETES  */
.paquetes {
    padding: 1.5%;
}

.texto-paquete {
    height: 20%;
}

.card-paquete {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 0px;
}

.card-paquete1,
.card-paquete2 {
    padding: 20px;
    border: 2px solid rgb(255, 149, 0);

}

.card-paquete img {
    width: 40vw;
    height: 50vh;
    object-fit: cover;
    margin-bottom: 10px;
}

.card-paquete1 p,
.card-paquete2 p {

    width: 100%;
    text-align: center;
}




/*TERMINA PAQUETES*/






/* PAGINA INVIERNO*/

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: ski motos trineos;
    gap: 20px;
}


.cards img {

    width: 80%;
    height: 75%;
    margin: 1%;
    padding: 2.5%;
    background-image: url(../img/esqui-cerro-castor.jpg);
    background-color: bisque;
}


.cerro {
    width: 100%;
}


.cerro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
}

.cerro img {
    width: 100%;
    height: 750px;
    max-width: 600px;
    object-fit: cover;
    margin-top: 2.5%;
}


.textocerro {
    max-width: 100% background-color: red;
}

.descubri {
    margin: 10%;
}

.actividades-inv {

    max-width: 100%;
    width: 100%;
    height: 100%;
    margin-top: 7%;

}





/*TERMINA PAGINA INVIERNO*/





/*PAGINA PAQUETES*/

.todo {
    font-size: 2rem;
}

.descubri {
    font-size: 2.9rem;
}


/*TERMINA PAGINA PAQUETES*/

/*EMPIEZA PAGINA DESTINOS*/

.galeria {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.galeria img {

    height: auto gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: 250px;
    object-fit: cover;
}


.calafate {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.calafate img {
    height: auto gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: 250px;
    object-fit: cover;

}





/*RESPONSIVE*/
@media (max-width: 768px) {

    .header {
        flex-direction: column;
        gap: 20px;
    }

    .menu {
        flex-direction: row;
    }

    .razones-cards {
        grid-template-columns: 1fr;
    }

    .div-temporadas {
        grid-template-columns: 1fr;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .footer {
        flex-direction: row;
    }

    .main {
        grid-template-columns: 1fr;
    }

    .paquetes {
        grid-template-columns: 1fr;
    }

    .card-paquete {
        grid-template-columns: 1fr;
    }

    .card-paquete1 img,
    .card-paquete2 img {
        width: 90vw;
        height: 40vh;
    }

    .cerro {
        padding: 20px;
    }

    .textocerro {
        padding: 0 10px;
    }

    .galeria {
        grid-template-columns: 1fr;
    }

}





/* =========================
PRUEBAS (solo pruebas.html)
========================= */


/*ACA ESTOY PROBANDO BOX MODEL, EN PESTAÑA PRUEBAS.HTML*/


.li-border {
    border: inset;
    color: blueviolet 3px;
    padding: 20px;
    width: 50%;
}



.container {
    display: grid;

    grid-template-columns: 20fr 20fr 20fr;
    grid-template-rows: 100px 200px 100px;

    grid-template-areas:
        "header header header"
        "sidebar main ."
        "footer footer footer";

    gap: 10px 20px;

    border: solid 5px;

    margin: 10px;
    padding: 10px;
}



/* ========================= HEADER Y MENU DE PAGINA PRUEBAS
EL GAP HACE QUE TENGA ESPACIO ENTRE TEXTOS
========================= */
.ul-prueba {
    background-color: rgb(197, 206, 222);
    display: flex;
    margin: 20px;
    font-size: 1rem;
    gap: 20px;
    width: 100%;
    height: 100%;
    justify-content: end;
}


.ul {

    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 20px;
    font-size: 1.5rem;

}

.ul a {
    text-decoration: none;
}